* {
  font-size: 0.95rem;
}

/* Configuração global para o Drawer (Barra Lateral) */
.react-bootstrap-drawer {
  z-index: 1 !important;
  height: calc(100vh - 2rem) !important;
}

.binx-container {
  min-height: 100vh;
  margin: 0px !important;
  padding: 0px !important;
}

.bg-gray {
  background-color: #f2f2f2;
}

.bg-white {
  background-color: white;
}

.binx-card {
  border-radius: 17px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 600px) {
  .center-vertically {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

.cursor-hover:hover {
  cursor: pointer;
}

/* Diminuir o tamanho da área de select do Carrossel */
.carousel-control-prev,
.carousel-control-next {
  width: 7% !important;
}

/* Correção de blur em imagem ao executar resize */
img {
  filter: blur(0);
  -webkit-filter: blur(0);
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

/* Correções na biblioteca React Bootstrap Table Next */

/* Remoção das labels de filtros no React Table */
.sr-only {
  display: none;
}

.filter-label {
  width: 100%;
}
